/* Your card CSS file */
.card-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  border-radius: 15px;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 10%);
}

.card h2 {
  color: rgb(227, 114, 149);
}

.card p {
  color: rgb(181 111 133);
}
